--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn[standard]
slowapi
langchain-community
langchain-groq
langchain-text-splitters
langgraph
faiss-cpu
sentence-transformers
torch
pypdf
python-dotenv
pydantic
bcrypt>=4,<5
python-jose[cryptography]
python-multipart
